body{
    background-color: rgb(215, 215, 223);
    padding: 50px;
    margin: 50px;
}
nav a{ 
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    border: 2px white solid;
    border-radius: 10px;
    padding: 8px;


    

}